asgiref
Django
django-cors-headers
dj-database-url
django-heroku
djangorestframework
pytz
sqlparse
gunicorn
python-dateutil 
python-jsonrpc-server 
python-language-server
python-slugify 
python3-openid
pytz
requests
requests-oauthlib
whitenoise
django-filter
djangorestframework_simplejwt
dj-database-url
djoser
psycopg2-binary
jsonschema